11 March 2025

Basic inputs,print statements,variables and keywords

Exercise 1

In [54]:
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
print(x%y)

0

In [55]:
Name="abrakadabra";name="ABRAKADABRA";words=11;print(Name,name,words)          #multiline & variables and constants

abrakadabra ABRAKADABRA 11

Exercise 2

In [56]:
C=int(input("Enter the temperature in celsius:"))
F=C*(9/5)+32
print(F)        #C=15

122.0

In [57]:
F=float(input("Enter the temperature in fahrenheit:"))
C=(F-32)*(5/9)
print(C)        #F=59

50.0

In [58]:
print("Hello all,I'm an imposter")
names = "Jason"
Age = 17
print(f"My friend's name is {names} and his age is {Age}")

Hello all,I'm an imposter
My friend's name is Jason and his age is 17

In [75]:
name_a="david"
print("Hi "+name_a)

name_b="Max"
print("My name is "+name_b)

print(f"Mr.{name_b} is a good friend of Mr.{name_a},Both are of age {Age}")

Hi david
My name is Max
Mr.Max is a good friend of Mr.david,Both are of age 17

Exercise 3

In [ ]:
name_c=input("Enter your name:")
age_c=int(input("Enter your age:"))
city_c=input("Enter your city:")

print("\n---------------User profile----------------")
print(f"Name: {name_c}")
print(f"Age: {age_c}")
print(f"City: {city_c}")

#print("Age:",str(age_c))

---------------User profile----------------
Name: Max
Age: 15
City: Lahore
Age: 15

15 March 2025

Sequential data type

In [61]:
string_a = "python"
list = [1,2,3,4,5]    #can have changes in values,mutable
tuple = (1,2,3,4,5)   #can't have changes in values,immutable

print(str);print(list);print(tuple)
print(list[1:3])

python
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
[2, 3]

Non sequential data types

In [62]:
set = {1,2,3,4}
dict={
    "name":"akshay",
    "age":25
}
is_valid=True
print(set);print(dict);print(is_valid)
print(dict["age"])

{1, 2, 3, 4}
{'name': 'akshay', 'age': 25}
True
25

Mutable data types:

These are data types which allow modifications, some of them are: list,dictionary,set

In [63]:
fruits = ["Apple","Banana","Grapes"]        
fruits.append("Mango")
print(fruits)
fruits.remove("Apple")
print(fruits)

['Apple', 'Banana', 'Grapes', 'Mango']
['Banana', 'Grapes', 'Mango']

In [64]:
student = {
    "name":"akshay",
    "age":25
}
student["city"] = "karachi"
print(student)

{'name': 'akshay', 'age': 25, 'city': 'karachi'}

Non Mutable data types:

Integer,float,string,tuple,boolean are immutable data types,they don't allow changes to the values

In [65]:
coordinates = (1,2)
print(coordinates)
X=0
Y=1.6
Z = 3+5j

(1, 2)

In [66]:
name = "ali"
name[0]="b"
print(name)     #should give an error

TypeError: 'str' object does not support item assignment

In [ ]:
print(type(student));print(type(coordinates));print(type(name));print(type(X));print(type(Y));print(type(Z))

<class 'dict'>
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
print(type(C));print(type(string_a));print(type(list));print(type(tuple));print(type(set));print(type(dict));print(type(fruits))

<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'list'>

In [ ]:
text="string"
print(type(text))

<class 'str'>

Strings

In [ ]:
#concatenation
cat="concatenation"
print(text+" "+cat)

#Repetition: i am sorry 5 times
sorry="i am sorry"
print((sorry+"\n")*5)

#Indexing: 
print(cat[3:6])

string concatenation
i am sorry
i am sorry
i am sorry
i am sorry
i am sorry

cat

In [ ]:
print("firetruck"[0]+"firetruck"[-3:])

fuck

Lists

In [ ]:
fruits[2]="cherry"

fruits.append("orange");fruits.append("Mango")
print(fruits)

['Apple', 'Banana', 'cherry', 'orange', 'Mango']

In [ ]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-1])
print(fruits[-2])
print(fruits[0:2])
print(fruits[0:3])
print(fruits[1:])
print(fruits[:1])

Apple
Banana
cherry
Mango
orange
['Apple', 'Banana']
['Apple', 'Banana', 'cherry']
['Banana', 'cherry', 'orange', 'Mango']
['Apple']

16 March 2025

Tuples

In [ ]:
coordinates = (1,2,3)
print(coordinates)
print(type(coordinates))
print(coordinates[0])
print(coordinates[2])
print(len(coordinates))
shift=([1,2,3])
print(shift)

(1, 2, 3)
<class 'tuple'>
1
3
3
[1, 2, 3]

Dictionary

In [ ]:
employee = {
    "name":"akshay",
    "age":25,
    "city":"karachi"
}
print(employee)
print(type(employee))
print(employee["name"])
print(employee["age"])
print(employee["city"])

employee["city"]="lahore"
print(employee)
employee["country"]="pakistan"
print(employee)

{'name': 'akshay', 'age': 25, 'city': 'karachi'}
<class 'dict'>
akshay
25
karachi
{'name': 'akshay', 'age': 25, 'city': 'lahore'}
{'name': 'akshay', 'age': 25, 'city': 'lahore', 'country': 'pakistan'}

Sets

In [ ]:
numbers={1,2,3,4,4,5}
print("Before changes:",numbers)
numbers.add(6)
numbers.remove(4)
print("After adding and removing:",numbers)
A={1,2,3,7,9}
B={5,6,7,8,9}
print("Union:",A|B);     
#print(A.union(B))
print("Intersection:", A&B)
#print(A.intersection(B))

Before changes: {1, 2, 3, 4, 5}
After adding and removing: {1, 2, 3, 5, 6}
Union: {1, 2, 3, 5, 6, 7, 8, 9}
Intersection: {9, 7}

Boolean

In [ ]:
is_student = True
print(is_student)
print(type(is_student))

print(7>3)
print(3<1)

print(True and False)
print(True or False)

True
<class 'bool'>
True
False
False
True

17 March 2025

Exercise 4

In [6]:
my_list = [1,2,3,4,5]
print("Old list:",my_list)
my_tuple = tuple(my_list)
print("Tuple:",my_tuple)
new_list=list(my_tuple)
print("New List:",new_list)
new_set=set(new_list)
print("Set:",new_set)
final_list=list(new_set)
print("Final List:",new_list)

Old list: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
New List: [1, 2, 3, 4, 5]
Set: {1, 2, 3, 4, 5}
Final List: [1, 2, 3, 4, 5]

Operators

Arithmetic:

+,-,*,/,%(common)
//(floor division)
**(exponential)

In [ ]:
a = 10
b = 5
ad = a+b
su = a-b
mu = a*b
di = a/b
rem = a%b
fd = a//b
ex = a**b
print(ad,su,mu,di,rem,fd,ex)

18 12 45 5.0 0 5 3375

Relational:>,<,==,!=,<=,>=

In [10]:
gt = a>b
lt = a<b
gte = a>=b
lte = a<=b
eq = a==b
nq = a!=b
print(gt)
print(lt)
print(gte)
print(lte)
print(eq)
print(nq)

True
False
True
False
False
True

Logical: &,|,!

In [17]:
c = 20
annd = a and b
orr = a or b
not_ = not c
print(not_)
print(annd)
print(orr)
print( a>b and b<c)
print( a<b and b>c)
print( not(a>b))

print(True and False)
print(True or False)

False
3
15
True
False
False
False
True

Assignment operators:

=,+=,-=,*=,/=,//=,%=,**=

In [21]:
x=10
print(x)
x+=15
print(x)

10
25

In [22]:
x**=2
print(x)

625

Membership operator:

in, not in

In [25]:
treat="Hi, i am a guy from 6th data science"
print("data" in treat)
print("learning "not in treat)
print("i"not in treat)
print("learning "not in treat,"i"not in treat)

True
True
False
True False

Identity operator:

is, is not

In [28]:
a = [1,2,3]
b = a       #same address
c = [1,2,3]     #different address/memory location
print(a is b)
print(a is c)

print(b is not c)

True
False
True

Exercise 5

In [30]:
text_= "i love python programming"
print("python" in text_)
text2= "i bought an apple and orange"
print("apple" in text2)

True
True

27 March 2025

Conditional statement

if statements

In [ ]:
age = int(input("Enter age:"))

if (age>=18):
    print("You are eligible to vote.")      #5

if else

In [32]:
n = int( input("Enter number to check even or odd"))
if n%2==0:
    print(f"The number {n} is even")
else:
    print(f"The number {n} is odd")

The number 7 is odd

if elif else

In [ ]:
marks = int(input("Enter marks:"))
if marks>85:
    print("Grade O")
elif marks>60:
    print("Grade A")
elif marks>50:
    print("Grade B")
elif marks>40:
    print("Grade C")
else:
    print("Fail")       #55

Grade B

Nested if

In [ ]:
num = int(input("Enter number:"))
 
if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    
else:
    print("the number is negative")     #-2

the number is negative

Exercise 6

In [35]:
num = int(input("Enter number:"))
 
if num>0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("the number is negative")     #-2

The number is positive

Looping statements

for loop

In [39]:
for i in range(5):
    print (i)

0
1
2
3
4

In [43]:
fruit = ["apple","banana","cherry"]
for x in fruit:
    print(f"{x} from {fruit}")

apple from ['apple', 'banana', 'cherry']
banana from ['apple', 'banana', 'cherry']
cherry from ['apple', 'banana', 'cherry']

29 March 2025

In [179]:
students = ['Surabhi','Akshay','Dhiraj','Afra','Shiva']
students.append('Rakesh')
for student in students:
    print(student)

Surabhi
Akshay
Dhiraj
Afra
Shiva
Rakesh

While loop

In [52]:
count = 0
while count <= 5:
    if count%2==0:
        print (f"{count} is Even")
    else:
        print (f"{count} is Odd")
    count+=1

0 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd

In [59]:
while (False):          #True will give Infinite loop
    print(" Not an Infinite Loop")

In [58]:
fts = ["Mango","Apple","Grapes","Banana"]
i = 0
while i<len(fts):
    print(fts[i])
    i += 1

Mango
Apple
Grapes
Banana

Nested loop

In [61]:
for i in range(3):
    for j in range(2):
        print(f"i = {i} and j = {j}")

i = 0 and j = 0
i = 0 and j = 1
i = 1 and j = 0
i = 1 and j = 1
i = 2 and j = 0
i = 2 and j = 1

In [63]:
rows = int(input("Enter number of rows:"))
for i in range(1,rows + 1):
    for j in range (i):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
rows = int(input("Enter number of rows:"))      #6
for i in range(1,rows): #number of rows
    for j in range (i):     #number of stars
        print("     *",end = " ")
    print()

     *
     *      *
     *      *      *
     *      *      *      *
     *      *      *      *      *

Exercise 7

In [85]:
for i in range(1,11):
    print(i)
print("\n") 

i=1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10


1
2
3
4
5
6
7
8
9
10

In [90]:
i=10
while i <= 10 and i>0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [91]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Simple Exercises

Arithmetic calculator

In [98]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
operation = input("Enter the operation to be performed( + , - , * , / , % ,// , exp or ^): ")

if operation == '+':
    print(n1 + n2)
elif operation == '-':
    print(n1 - n2)
elif operation == '*':
    print(n1 * n2)
elif operation == '/':
    print(n1 / n2)
elif operation == '%':
    print(n1 % n2)
elif operation == '//':
    print(n1 // n2)
elif operation == 'exp' or operation == '^':
    print(n1 ** n2)
else:
    print("Error: This function doesn't exist")     #~

Error: This function doesn't exist

Even Odd Checker

In [99]:
n3 = int(input("Enter the number"))
if n3 % 2 == 0:
    print(f"{n3} is Even")
else:
    print(f"{n3} is Odd")

4 is Even

Number Comparison(Largest,Smallest,Average)

In [104]:
a = int(input("Enter first number"))        #6
b = int(input("Enter second number"))       #9
c = int(input("Enter third number"))        #10

if a > b and a > c:
    print(a, " is Largest")
    if b > c:
        print(f"{b} is Average \n{c} is smallest")
    else:
        print(f"{c} is Average \n{b} is smallest")
elif b > c and b > a:
    print(b, " is Largest")
    if c > a:
        print(f"{c} is Average \n{a} is smallest")
    else:
        print(f"{a} is Average \n{c} is smallest")
else:
    print(c, " is Largest")
    if a > b:
        print(f"{a} is Average \n{b} is smallest")
    else:
        print(f"{b} is Average \n{a} is smallest")

10  is Largest
9 is Average
6 is smallest

30 March 2025

Table Generator

In [106]:
n = int(input("Enter number for math tables till which the tables must be shown"))
for i in range(1,n+1):
    for j in range(1,11):
        Product=i*j
        print(f"{i} multiplies by {j} gives {Product}")

1 multiplies by 1 gives 1
1 multiplies by 2 gives 2
1 multiplies by 3 gives 3
1 multiplies by 4 gives 4
1 multiplies by 5 gives 5
1 multiplies by 6 gives 6
1 multiplies by 7 gives 7
1 multiplies by 8 gives 8
1 multiplies by 9 gives 9
1 multiplies by 10 gives 10
2 multiplies by 1 gives 2
2 multiplies by 2 gives 4
2 multiplies by 3 gives 6
2 multiplies by 4 gives 8
2 multiplies by 5 gives 10
2 multiplies by 6 gives 12
2 multiplies by 7 gives 14
2 multiplies by 8 gives 16
2 multiplies by 9 gives 18
2 multiplies by 10 gives 20
3 multiplies by 1 gives 3
3 multiplies by 2 gives 6
3 multiplies by 3 gives 9
3 multiplies by 4 gives 12
3 multiplies by 5 gives 15
3 multiplies by 6 gives 18
3 multiplies by 7 gives 21
3 multiplies by 8 gives 24
3 multiplies by 9 gives 27
3 multiplies by 10 gives 30
4 multiplies by 1 gives 4
4 multiplies by 2 gives 8
4 multiplies by 3 gives 12
4 multiplies by 4 gives 16
4 multiplies by 5 gives 20
4 multiplies by 6 gives 24
4 multiplies by 7 gives 28
4 multiplies by 8 gives 32
4 multiplies by 9 gives 36
4 multiplies by 10 gives 40
5 multiplies by 1 gives 5
5 multiplies by 2 gives 10
5 multiplies by 3 gives 15
5 multiplies by 4 gives 20
5 multiplies by 5 gives 25
5 multiplies by 6 gives 30
5 multiplies by 7 gives 35
5 multiplies by 8 gives 40
5 multiplies by 9 gives 45
5 multiplies by 10 gives 50

In [107]:
n4 = int(input("Enter the number:"))

for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Sum upto N number

In [ ]:
n5 = int(input("Enter the numbers for sum:"))

sum = 0
i = 1
while i <= n5:
    sum += i
    i += 1
print (f"The sum of first {n5} numbers is {sum}")

The sum of first 15 numbers is 120

Grade Calculator:                                               
90+ -> A, 
80-89 -> B, 
70-79 -> C, 
60-69 -> D, 
Below 60 Fail.

In [127]:
m1 = float(input("Enter the marks of subject 1: "))
m2 = float(input("Enter the marks of subject 2: "))
m3 = float(input("Enter the marks of subject 3: "))
m4 = float(input("Enter the marks of subject 4: "))
m5 = float(input("Enter the marks of subject 5: "))

arks = m1 + m2 + m3 + m4 + m5
Marks = arks/5
p = Marks
if Marks > 100 or Marks < 0:
    print("Invalid Marks Allotment")
else:
    if Marks >= 90:
        print(f"Grade A and percentage is {p}%")
    elif Marks >= 80 and Marks <= 89:
        print(f"Grade B and percentage is {p}%")
    elif Marks >= 70 and Marks <= 79:
        print(f"Grade C and percentage is {p}%")
    elif Marks >= 60 and Marks <= 69:
        print(f"Grade D and percentage is {p}%")
    else:
        print(f"Fail and percentage is {p}%")

Grade D and percentage is 63.4%

Factorial of a Number

In [134]:
n6 = int(input("Enter a number for Factorial:"))
fact = 1

for i in range(1,n6+1):
    fact = fact * i
print(f"The Factorial of {n6} is {fact}.")

The Factorial of 6 is 720.

Prime number finder

In [137]:
m = int(input("Enter a number"))

is_prime = True

if i < 2:
    is_prime = False
else:
    for i in range(2,m):
        if m % i == 0:
            is_prime = False
            break
if is_prime:
    print("Prime ")
else:
    print("Not Prime")

Not Prime

Reversal number generator

In [138]:
n7 = int(input("Enter the number to be reversed:"))

rev = 0

while n7 > 0:
    digits = n7 % 10
    rev = rev * 10 + digits
    n7 = n7 // 10

print(f"The reverse of the number {n7} is {rev}.")

The reverse of the number 0 is 14521.

Pyramid

In [153]:
rows2 = int(input("Enter the number of rows:"))

for i in range(1, rows2 + 1):
    print(" "*(rows2 -i), end = " ")
    print("*"*(2*i-1))

      *
     ***
    *****
   *******
  *********
 ***********

Inverted pyramid

In [154]:
for i in range(rows2,0,-1):
    print(" "*(rows -i), end = " ")
    print("*"*(2*i-1))

 ***********
  *********
   *******
    *****
     ***
      *

Right aligned

In [ ]:
for i in range(1, rows2 + 1):
    print(" "*(rows -i), end = " ")
    print("*"*i)

      *
     **
    ***
   ****
  *****
 ******

left aligned

In [157]:
rows2 = int(input("Enter the number of rows:"))

for i in range(1, rows2 + 1):
    print("*"*i)

*
**
***
****
*****
******

In [158]:
for i in range(1,rows2+1):
    print(" "*(rows -i), end = " ")
    print("*"*(2*i-1))

for i in range(rows2,0,-1):
    print(" "*(rows -i), end = " ")
    print("*"*(2*i-1))

      *
     ***
    *****
   *******
  *********
 ***********
 ***********
  *********
   *******
    *****
     ***
      *

In [165]:
for i in range(1, rows2 +1):
    print(" "*(rows2 - i), end = " ")
    if i==1 or i == rows2:
        print("*" * (2*i-1))
    else:
        print("*" + " " * (2*i-3) + "*")

      *
     * *
    *   *
   *     *
  *       *
 ***********

In [166]:
for i in range(1, rows2 +1):
    print(" "*(rows2 - i), end = " ")
    if i==1 or i == rows2:
        print("*" * (2*i-1))
    else:
        print("*" + " " * (2*i-1))

      *
     *
    *
   *
  *
 ***********

In [178]:
for i in range(1, rows2 +1):
    print(" "*(rows2 - i), end = " ")
    if i==1 :
        print("*" * (i))
    else:
        print("*" +" "*(2*i-3) + "*")

      *
     * *
    *   *
   *     *
  *       *
 *         *

31 March 2025

Password Generator

In [2]:
''' Take input length from user
Check length is greater than 4
If length less than 4 then print "pasword should be atleast 4 character
if length is greater than 4, we generate a password
Ensure that password contain Uppercase,lowercase,digits and special characters
Ensure password is strong enough
print our password'''
import random 
import string
length = int(input("Enter the length of the password: "))
if length < 4:
    print("Password should be atleast 4 characters")
else:
    uppercase = string.ascii_uppercase      #A-Z
    lowercase = string.ascii_lowercase      #a-z
    digits = string.digits                  #0-9
    special = string.punctuation            # $ , @ , # , % etc

password = [
    random.choice(uppercase),
    random.choice(lowercase),
    random.choice(digits),
    random.choice(special)
]

all_chars = uppercase + lowercase + digits + special

password += random.choices(all_chars , k = length - 4)

random.shuffle(password)
password = "".join(password)

print("Generated Password: ","".join(password))

Generated Password:  Rl-6I&

Number Guessing game

In [3]:
'''Generate numbers from 1 to 100
Ask user to guess the number
If the guess if right,congratulate the user and end the game
If guess is too high,prompt the user to try a lower number
If guess is too low,prompt the user to try a higher number
Loop until correct answer
'''

''' Generate a number
Loop
Ask the user to guess the number
If guess is not valid
    print error
If number < guess
    print too low
If number > guess
    print too high
If number = guess
    print correct'''
import random
Guess_c = random.randint(1,100)
attempt = 0

print("\tWelcome to the number guessing game\t\nGuess a number from 1 to 100:")

while True:
    try:
        guess = int(input("Enter your guess:"))
        attempt += 1

        if guess < Guess_c:
            print("Too Low!")
        elif guess > Guess_c:
            print("Too High!")
        else:
            print(f"Correct! You guessed the number in {attempt} attempts.")
            break
    except ValueError:
        print("Invalid input. PLease enter a number.")

	Welcome to the number guessing game
Guess a number from 1 to 100:
Too Low!
Too High!
Too High!
Too High!
Too High!
Too Low!
Too Low!
Correct! You guessed the number in 8 attempts.