1 April 2025

String Manipulation

Concatenation

In [1]:
str1 = "All are "
str2 = "just busy."
str3 = "They forgot to have fun."
print(str1 + str2 +str3)

# ctrl + / for commenting out the line together
# just select the lines to comment and put the command

All are just busy.They forgot to have fun.

Repetition

In [92]:
str4 = "You are good if you read it"
print (f"{str4}\n"*3)
print("You read it thrice lol")

You are good if you read it
You are good if you read it
You are good if you read it

You read it thrice lol

Indexing and Slicing

In [93]:
text = "How are you"
print("Fifth Character:",text[6])
print("Substring (0-7):",text[0:7])

Fifth Character: e
Substring (0-7): How are

String Methods

In [185]:
a = "Axle"
b = "Axis"
c = "Ami je tomar"
print(a.upper())            #uppercase
print(b.lower())            #lowercase

AXLE
axis

In [95]:
text= "apple,banana,grape"
print(text.split(","))                      #delimiter(separates into array based on condition,here ',' operator)
print(f"This is the X {b}")   
print("This is the X {}".format(b))         #dot format
str5 = "Hello Rajesh"
print(str5.replace("Rajesh","Rakesh"))      #replace

['apple', 'banana', 'grape']
This is the X Axis
This is the X Axis
Hello Rakesh

In [96]:
str6 = "We are learning python"
print("python" in str6)

True

Number Manipulation

In [97]:
''' Common Number operators
1. Arithmetic Operators: + , - , * , / , // , % , **'''
print(f"Sum:{5+3}\nDifference:{9-6}\nProduct:{5*3}\nDivision:{9/3}\nFloor division:{18//5}\nModulus:{140%16}\nExponent:{2**12}\n")

Sum:8
Difference:3
Product:15
Division:3.0
Floor division:3
Modulus:12
Exponent:4096

In [98]:
'''2. Math Function
abs function:abs(a)
round function: round(x,n)
power function: pow(x,y)'''
print(f"Absolute Value of -105 is {abs(-105)} \nRounded value of pi comes to {round(3.14159,2)} \n5 to the power of 12 is {pow(5,12)}\n")

Absolute Value of -105 is 105
Rounded value of pi comes to 3.14
5 to the power of 12 is 244140625

In [99]:
'''3. Type Conversion
int(x)
float(x)
str(x)'''
print(int("5"))                 #string to int
print(type(int("5")))

print(float("5"))               #string to float
print(type(float("5")))

print(str(5))                   #int to string
print(type(str(5)))

5
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>

2 April 2025

List

ordered, mutable list of elements in square brackets []

In [100]:
fruits = ['apple','banana','cherry']
print(fruits)
print(type(fruits))

['apple', 'banana', 'cherry']
<class 'list'>

In [101]:
fruits[1] = 'orange'
print(fruits)

print(fruits[2])

['apple', 'orange', 'cherry']
cherry

List Methods

In [102]:
nums = [1,2,5,7,9]
#list.append(value)
fruits.append("papaya")
print(fruits)
#fruits.remove("Grapes")

['apple', 'orange', 'cherry', 'papaya']

In [103]:
#list.insert(index,value)
nums.insert(6,11)
print(nums)

[1, 2, 5, 7, 9, 11]

In [104]:
#list.remove(value)
nums.remove(9)
print(nums)

[1, 2, 5, 7, 11]

In [105]:
#list.pop(index)
fruits.pop(0)
print(fruits)

['orange', 'cherry', 'papaya']

In [106]:
#list.sort()  numeric value
num2 = [1,4,7,9,5,11]
num2.sort()
print(num2)

[1, 4, 5, 7, 9, 11]

In [107]:
#list.reverse()
fruits.reverse()
print(fruits)

['papaya', 'cherry', 'orange']

In [108]:
#list.count(value)       numeric value
print(num2.count(8))

0

In [109]:
#list.index(value)
print(num2.index(7))

3

3 April 2025

Tuple

Changing values as certain index like num[0] = 10 is not possible,but accessing is possible

Tuple Methods

In [110]:
numbers = (1,2,3,4,5,2,2,2)
numbers.count(2)

4

In [111]:
i = ("a","b","c","a")
i.index("b")

1

Exercise

#list of 5 numbers,adding and removing an element and sorting it

#tuple of 5 elements,count occurances,and index of element

In [112]:
n1 = [1,2,3,4,6,7,11,9,10,17,8,14,13,12]
n1.append(15)
print(n1)

[1, 2, 3, 4, 6, 7, 11, 9, 10, 17, 8, 14, 13, 12, 15]

In [113]:
n1.remove(17)
print(n1)

[1, 2, 3, 4, 6, 7, 11, 9, 10, 8, 14, 13, 12, 15]

In [114]:
n1.sort()
print(n1)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [115]:
t1 = ("Akshay","Akash","Bhuvan","Dhiraj","Akshay")
print(t1.count("Akshay"))
print(t1.index("Dhiraj"))

2
3

4 April 2025

Dictionary and methods

These are key value pairs

In [116]:
student = {
    "name" : "Akash",
    "age" : 28,
    "email" : "akashgp123@gmail.com"
}

print(student.keys())

dict_keys(['name', 'age', 'email'])

In [117]:
print(student.items())

dict_items([('name', 'Akash'), ('age', 28), ('email', 'akashgp123@gmail.com')])

In [118]:
student.update({"Grade":"A"})
print(student)

{'name': 'Akash', 'age': 28, 'email': 'akashgp123@gmail.com', 'Grade': 'A'}

In [119]:
print(student.get("age",0))

28

In [120]:
student.pop("email")
print(student)

{'name': 'Akash', 'age': 28, 'Grade': 'A'}

In [121]:
print(student.values())

dict_values(['Akash', 28, 'A'])

Sets and methods

5 April 2025

Sets doesn't allow duplication

In [122]:
set1 = {"apple","cherry","mango","papaya","mango"}
set1

{'apple', 'cherry', 'mango', 'papaya'}

In [123]:
set1.add("orange")
set1

{'apple', 'cherry', 'mango', 'orange', 'papaya'}

In [124]:
set1.remove("papaya")
set1

{'apple', 'cherry', 'mango', 'orange'}

In [125]:
set1.discard("cherry")      #does nothing if nothing is found
set1

{'apple', 'mango', 'orange'}

In [126]:
set1.pop()      #random removal of element
set1

{'apple', 'mango'}

In [127]:
set2 = {"carrot","tomato","brinjal","orange"}
#set3 = set1.union(set2)
set3 = set1 | set2
print(set1," ",set2," \n", set3)

{'mango', 'apple'}   {'brinjal', 'orange', 'carrot', 'tomato'}
 {'orange', 'tomato', 'apple', 'mango', 'carrot', 'brinjal'}

In [128]:
#set4 = set1.intersection(set2)
set4 = set1 & set2
set4

set()

In [129]:
#set difference
set5 = set3.symmetric_difference(set2)
set5

{'apple', 'mango'}

Exercise 8

In [130]:
#Creating dictionary, adding new key value pair,removing a key and print all the keys and values
info ={
    "name":"John Doe",
    "age":28,
    "major":"Computer Science",
    "gpa":3.8,
    "city":"New York"
}

info["Grade"]="A"
print(info)

info.pop("city")
print(info)

print(info.keys())
print(info.values())

{'name': 'John Doe', 'age': 28, 'major': 'Computer Science', 'gpa': 3.8, 'city': 'New York', 'Grade': 'A'}
{'name': 'John Doe', 'age': 28, 'major': 'Computer Science', 'gpa': 3.8, 'Grade': 'A'}
dict_keys(['name', 'age', 'major', 'gpa', 'Grade'])
dict_values(['John Doe', 28, 'Computer Science', 3.8, 'A'])

In [131]:
#Creating 2 sets and finding intersection and union
print(set1)
set5 = {"Eggs","Chicken","Fish","Pork"}
print(set5)

print(f"Union: {set1 & set5} \nIntersection: {set1 | set5}")

{'mango', 'apple'}
{'Fish', 'Chicken', 'Pork', 'Eggs'}
Union: set()
Intersection: {'Fish', 'Pork', 'Eggs', 'apple', 'mango', 'Chicken'}

List Comprehension

In [132]:
#traditional method
listx = []
for i in range(5):
    listx.append(i**2)
print(listx)

[0, 1, 4, 9, 16]

In [133]:
#list comprehension method:fast execution,less code
list1 = [i**2 for i in range(5)]
print(list1)

[0, 1, 4, 9, 16]

List comprehension if-else statements

In [134]:
#traditional method
label = []
for x in range(5):
    if x % 2 == 0:
        label.append("Even")
    else:
        label.append("Odd")
print(label)

['Even', 'Odd', 'Even', 'Odd', 'Even']

In [135]:
labels = ["Even" if x % 2 == 0 else "Odd" for x in range(5)]
print(labels)

['Even', 'Odd', 'Even', 'Odd', 'Even']

List comprehension in nested loop

In [136]:
#traditional method
matrics = []
for i in range(3):
    row = []
    for j in range(3):
        row.append(j)
    matrics.append(row)
print(matrics)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [137]:
matrix = [[j for j in range(3)]for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [138]:
matrix = [[fruits for j in range(3)]for i in range(3)]
print(matrix)

[[['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange']], [['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange']], [['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange'], ['papaya', 'cherry', 'orange']]]

8 April 2025

list comprehension in Functions

In [139]:
#traditional method
def square(n):
    return n*n

square_list1 = []
for x in range(5):
    square_list1.append(square(x))
print(square_list1)

[0, 1, 4, 9, 16]

In [140]:
def square(n):
    return n*n

square_list2 = [square(x) for x in range(5)]
print(square_list2)

[0, 1, 4, 9, 16]

Exercise 9

In [141]:
string1 = "Hi beta, how are you doing,how is your younger brother, what is he doing now, did he complete his studies?"

           
vowels = [char for char in string1 if char.lower() in "aeiou"]
print(vowels)

['i', 'e', 'a', 'o', 'a', 'e', 'o', 'u', 'o', 'i', 'o', 'i', 'o', 'u', 'o', 'u', 'e', 'o', 'e', 'a', 'i', 'e', 'o', 'i', 'o', 'i', 'e', 'o', 'e', 'e', 'i', 'u', 'i', 'e']

In [142]:
#list of numbers divisible by 3 from 1-30
numbers =[i for i in range(1,31) if i % 3 == 0]
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [143]:
#list of celsius temperature from celsius to Fahrenheit
celsius = [5,50,105,93,27,60,62]
def fahren(c):
    c1 = (c*9/5)+32
    return c1

f = [fahren(x) for x in celsius]
print(f)

[41.0, 122.0, 221.0, 199.4, 80.6, 140.0, 143.6]

In [144]:
#easier way
f1 = [temp * 9/5 + 32 for temp in celsius]
print(f1)

[41.0, 122.0, 221.0, 199.4, 80.6, 140.0, 143.6]

In [145]:
#Flatten a 2D list using nested list comprehension(2D to 1D)
flatted_list = [num for row in matrics for num in row]      #first (0,1,2) will get out of the matrix then next (0,1,2) will get out then last and this all elements will be kept in the flatted list when extracted
print(flatted_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [146]:
#generate a list of sequence of squares of numbers from 1 to 10 using list comprehension
sqs = [z**2 for z in range(1,11)]
print(sqs)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [147]:
#filter out even number from a list of 1 to 100
eves = [s for s in range(1,101) if s%2 == 0]
print(eves)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [148]:
Car = {
    "Brand":"Toyota",
    "model":"Camry",
    "year":2009
}

print(Car["Brand"])
print(Car["model"])
print(Car["year"])

Toyota
Camry
2009

10 April 2025

Dictionary comprehension

In [149]:
nums3 = [1,2,3,4,5,6,7,8,9]
squares = {x:x**2 for x in nums3}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [150]:
n1

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [151]:
numbers

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [152]:
dict2 = {x:x*5 for x in nums3}
print(dict2)

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45}

In [153]:
dict3 = {x:x**2 for x in nums3 if x%2 == 0}
print(dict3)

{2: 4, 4: 16, 6: 36, 8: 64}

In [154]:
dict4 = {x:x**2 for x in range(10) if x%2 == 0}
print(dict4)
dict5 = {x:x**2 for x in range(10) if x%2 != 0}
print(dict5)
dict6 = {x:x**2 for x in range(10) if x%2 == 0 and x%3 == 0}
print(dict6)
dict7 = {x:x**2 for x in range(10) if x%2 == 0 or x%3 == 0}
print(dict7)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
{0: 0, 6: 36}
{0: 0, 2: 4, 3: 9, 4: 16, 6: 36, 8: 64, 9: 81}

In [155]:
Celsius = {"New York": 0 ,
           "London":10,
           "Delhi":5}
Fahrenheit = {city:(temp * 9/5)+32 for city,temp in Celsius.items()}
print(Fahrenheit)

{'New York': 32.0, 'London': 50.0, 'Delhi': 41.0}

In [156]:
Original = {
    "a":1,
    "b":2,
    "c":3
}
print(Original)
swapped = {value:key for key,value in Original.items()}
print(swapped)

Copy = {key:value for value,key in Original.items()}
print(Copy)

{'a': 1, 'b': 2, 'c': 3}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

In [157]:
student1 = {
    "Bob": {"Maths":90,"Physics":80,"Chemistry":70},
    "Alice": {"Maths":85,"Physics":75,"Chemistry":95},
    "Charlie": {"Maths":80,"Physics":70,"Chemistry":60}
}

grade_boost = {student1 : {subject:marks + 5 for subject,marks in grades.items()}
               for student1,grades in student1.items()}
print(grade_boost)

{'Bob': {'Maths': 95, 'Physics': 85, 'Chemistry': 75}, 'Alice': {'Maths': 90, 'Physics': 80, 'Chemistry': 100}, 'Charlie': {'Maths': 85, 'Physics': 75, 'Chemistry': 65}}

Set Comprehension

In [158]:
squres = {x*2 for x in range(1,10)}
print(squres)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [159]:
numbers.append(18)

In [160]:
n4 ={num for num in numbers}
print(n4)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}

In [161]:
even = {x for x in numbers if x%2 == 0}
print(even)

{6, 12, 18, 24, 30}

In [162]:
even_no = []
for x in range(10):
    if x%2 == 0:
        even_no.append(x)
print(even_no)

[0, 2, 4, 6, 8]

In [163]:
positive_negative = {x if x>0 else "Negative"for x in [-2,-1,0,1,2]}
print(positive_negative)

{1, 'Negative', 2}

In [164]:
n_p = {x if x<0 else "Positive" for x in [-2,-1,0,1,2]}
print(n_p)          #no duplicates

{'Positive', -2, -1}

In [165]:
def square(x):
    return x*x

square_set = {square(num) for num in range(1,11)}
print(square_set)       #always unordered

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Exercise

In [166]:
# Extract unique vowels from a sentence
# write a python program that extracts all unique vowel from a user input sentence using set comprehension.
sentence = input("Enter a sentence:")
vowels = {char for char in sentence if char.lower() in "aeiouAEIOU"}
print(vowels)

set()

In [167]:
#set of squares of even numbers from 1 to 20
sq_set = {x**2 for x in range(1,21) if x%2 == 0}
print(sq_set)

{64, 256, 100, 4, 36, 196, 324, 16, 144, 400}

Tuple comprehension

In [168]:
t1 = (x**2 for x in range(1,11))
print(tuple(t1))           #this is a generator expression, it will not print anything until we iterate through it
       #this will print the values one by one

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [169]:
t1 = (x**2 for x in range(1,11))
print(t1)  
for i in t1:
    print(i)       #this will print the values one by one
#this is a generator expression, it will not print anything until we iterate through it

<generator object <genexpr> at 0x000001F7ECD34930>
1
4
9
16
25
36
49
64
81
100

In [170]:
t2 = (x if x>0 else "Negative" for x in [-2,-1,0,1,2])
print(tuple(t2))       #this is a generator expression, it will not print anything until we iterate through it

('Negative', 'Negative', 'Negative', 1, 2)

In [171]:
def cube(x):
    return x**3

cube_t3 = (cube(x) for x in range(1,21))
print(tuple(cube_t3))

(1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000)

In [172]:
print(numbers)
even = (x for x in numbers if x%4 == 0)
print(tuple(even))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 18]
(12, 24)

In [173]:
#convert a string of characters to uppercase through tuple comprehension
string = "convert a string of characters to uppercase through tuple comprehension"
string1 = (char.upper() for char in string)
print(tuple(string1))       #this is a generator expression, it will not print anything until we iterate through it

('C', 'O', 'N', 'V', 'E', 'R', 'T', ' ', 'A', ' ', 'S', 'T', 'R', 'I', 'N', 'G', ' ', 'O', 'F', ' ', 'C', 'H', 'A', 'R', 'A', 'C', 'T', 'E', 'R', 'S', ' ', 'T', 'O', ' ', 'U', 'P', 'P', 'E', 'R', 'C', 'A', 'S', 'E', ' ', 'T', 'H', 'R', 'O', 'U', 'G', 'H', ' ', 'T', 'U', 'P', 'L', 'E', ' ', 'C', 'O', 'M', 'P', 'R', 'E', 'H', 'E', 'N', 'S', 'I', 'O', 'N')

In [174]:
st2 = ["Mango","Banana","Apple","Grapes"]
string2 = (char.upper() for char in st2)
print(tuple(string2))       #this is a generator expression, it will not print anything until we iterate through it

('MANGO', 'BANANA', 'APPLE', 'GRAPES')

In [175]:
upper_words = tuple(map(str.upper,st2))  #this will convert all the words to uppercase
print(upper_words)

('MANGO', 'BANANA', 'APPLE', 'GRAPES')

In [176]:
upper_words = [word.upper() for word in st2]  #this will convert all the words to uppercase
print(upper_words)

['MANGO', 'BANANA', 'APPLE', 'GRAPES']

In [177]:
#tuple comprehension of square roots from 1 to 5
t3 = (x*0.5 for x in range(1,6))
print(tuple(t3))       #this is a generator expression, it will not print anything until we iterate through it

(0.5, 1.0, 1.5, 2.0, 2.5)

In [178]:
square_list2

[0, 1, 4, 9, 16]

In [179]:
import math
sq = [4,16,36,25,81,400]

t4 = tuple(map(math.sqrt,sq))
print(t4)

(2.0, 4.0, 6.0, 5.0, 9.0, 20.0)

Functions

In [180]:
def add(x,y):
    return x+y

print(add(57,215))

272

In [ ]:
def greet(name,ag):            #positional arguments(strings store string and int store int)
    """ This function greets the user with their name and age """
    print(f"Hi {name}, you are {ag} years old.")

nam = input("Enter name:")      #raj
ag = int(input("Enter age:"))   #16
greet(nam,ag)

Hi raj, you are 16 years old.

In [ ]:
#keyword arguments(their order does not matter)
greet(name="John",age=25)
greet(age=25,name="John")

Hi John, you are 25 years old.
Hi John, you are 25 years old.

In [ ]:
def power(base,exponent = 2):
    return base ** exponent
print(power(5))

25

In [ ]:
def sum_all(*args):
    """ This function takes any number of arguments and returns their sum """
    return sum(args)
print(sum_all(1,2,3,4,5))

15

In [ ]:
def print_info(**info):
    for key,value in info.items():
        print(f"{key}:{value}")

print_info(name="John",age=25,city="New York")

name:John
age:25
city:New York

11 April 2025

In [ ]:
#lambda arguments: expression
add = lambda x,y : x+y
print(add(7,9))

16

In [ ]:
print((lambda x:x**2)(5))

25

Exercise

In [ ]:
#factorial of a function
def factorial(n):
    if n==0 or n==1:
        return n
    else:
        return n*factorial(n-1)
    
# num = int(input("Enter a number:"))
# print(f"The factorial of {num} is {factorial(num)}")
print(factorial(2))

2

In [ ]:
#filter even numbers using lambda functions from a list
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers = lambda x: x % 2 == 0
print(tuple(filter(even_numbers, numbers)))  # filter function will filter the even numbers from the list and return a new list with only even numbers

(2, 4, 6, 8, 10)

Exercises

In [ ]:
#max and min in a list
def max_min(numbers):
    max_num = max(numbers)
    min_num = min(numbers)
    return max_num, min_num

numbers = [104,2,37,4,5,16,7,8,9,10]
print(max_min(numbers))

(104, 2)

In [ ]:
MAX = max(numbers)
MIN = min(numbers)
print(f"Max:{MAX} Min:{MIN}")

Max:104 Min:2

In [ ]:
#occurance of a number
numbers.count(4)

1

In [ ]:
#common elements between two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
common_elements = set1&set2
print(common_elements)

{4, 5}

In [ ]:
#list to dictionary
list4 = [("a",1),("b",2),("c",3),("d",4)]
dict8 = dict(list4)
print(dict8)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#merging two dictionaries
dict9 = {
    "a":1,
    "b":2,
    "c":3   
}
dict10 = {
    "d":4,
    "e":5,
    "f":6
}
dict11 = {**dict9,**dict10}
print(dict11)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
def reverse_string(string3):
    print(string3[::-1])

string3 = "Sequential automata"
reverse_string(string3)

atamotua laitneuqeS

In [187]:
#remove duplicates from a list
def remove_duplicates(list5):
    return list(set(list5))

list5 = [1,2,3,4,5,1,2,3,4,5]
print(remove_duplicates(list5))

[1, 2, 3, 4, 5]

In [ ]:
#check if a key exists in a dictionary(Membership operator)
person_info = {
    "name":"John",
    "age":30,
    "city":"New York"
}

print("name" in person_info)

True

In [ ]:
#Flatten a nested list using function
def Flatten_list(nested_list):
    return [item for sub_list in nested_list for item in sub_list]

nested_list = [[1,2,3],[4,5,6],[7,8,9]]
flattened_list = Flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#sorting by using second element
data = {(1,3),(2,4),(3,5),(4,6),(5,7),(6,8),(7,9),(8,10)}

sorted_data = sorted(data,key = lambda x:x[1], reverse = True)
print(sorted_data)

[(8, 10), (7, 9), (6, 8), (5, 7), (4, 6), (3, 5), (2, 4), (1, 3)]

OOP introduction

In [ ]:
class Car :
    brand = "Toyota"
    model = "Camry"
    year = 2009
car1 = Car()
print(car1.brand)

Toyota

In [ ]:
class Dog:
    species = "Canine"
    name = "Buddy"

dog1 = Dog()
print(dog1.species)

Canine

In [ ]:
class Person:
    name = "John"
    def greet(self):
        print(f"Hello, my name is {self.name}")
person1 = Person()
person1.greet()

Hello, my name is John

Pure functions

gives same output for same input, no side effects

In [ ]:
def multiply(x,y):
    return x*y

result = multiply(5,3)
print(f"The result of multiplication is: {result}")

The result of multiplication is: 15

In [ ]:
def concatenate_strings(s1 , s2):
    return s1 + s2

result = concatenate_strings("Hi Rajesh,", "How are you?")
print(result)

Hi Rajesh,How are you?

Higher order function

In [ ]:
def apply_function(func, x , y):
    return func(x, y)

def add(x, y):
    return x + y

def multiply(x, y):
    return x * y

res1 = apply_function(add, 5, 3)
res2 = apply_function(multiply, 5, 3)
print(f"Result of addition: {res1} and multiplication: {res2}")

Result of addition: 8 and multiplication: 15

In [ ]:
def operation():
    pass

def add(x,y):
    sum = x + y
    return sum

print(add(2,3))

5

In [ ]:
def operation(sum, x, y):
    return sum(x, y)

def add(x,y):
    sum = x + y
    return sum

print(add(2,3))

5

Lambda function

In [ ]:
cube = lambda x: x**3
print(cube(7))

343

In [ ]:
result4 = lambda name: "Your name is " + name
print(result4("Akash"))

Your name is Akash

In [ ]:
#map function(map(function, iterable))
def square(x):
    return x**2

numbers = [1,2,3,4,5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
my_list = [1,2,3,4,5]
squared_list = list(map(lambda x : x**2, my_list))
print(squared_list)

[1, 4, 9, 16, 25]

In [ ]:
#converting string in a list to uppercase using map function
my_list1 = ["apple","banana","cherry","kiwi","grape"]
upper_list = list(map(lambda x:x.upper(),my_list1))
print(upper_list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'GRAPE']

In [ ]:
length_of_list = list(map(lambda x:len(x),my_list1))
print(length_of_list)

[5, 6, 6, 4, 5]

In [ ]:
#using map with multiple iterables
my_list2 = [1,2,3,4,5]
my_list3 = [6,7,8,9,10]
mul = list(map(lambda x,y : x*y, my_list2,my_list3))
print(mul)

[6, 14, 24, 36, 50]

In [ ]:
fil = list(filter(lambda x: x%2 == 0, my_list3))
print(fil)

[6, 8, 10]

In [ ]:
#filtering out string which contain specific substring using filter()
filtered_list = list(filter(lambda x:'a' in x, my_list1))
print(filtered_list)

['apple', 'banana', 'grape']

In [ ]:
#negative number less than zero
neg_num = list(filter(lambda x: x <= 0, [-2,5,6,-9,3,0,-1]))
print(neg_num)

[-2, -9, 0, -1]

In [ ]:
#filtering out empty strings from a list using filter()
my_list4 = ["apple","banana","","kiwi","grape"]
filtered_list1 = list(filter(lambda x: x!="", my_list4))
print(filtered_list1)

['apple', 'banana', 'kiwi', 'grape']

In [ ]:
#num greater than 2 and less than 5
between_numbers = list(filter(lambda x: x>2 and x<5, my_list2))
print(between_numbers)

[3, 4]

In [ ]:
#reduce function(reduce(function, iterable[,initializer]))
from functools import reduce
sum = reduce(lambda x,y : x+y, my_list)
print(sum)
prod = reduce(lambda x,y : x*y, my_list)
print(prod)

15
120

In [ ]:
#maximum element of list using reduce function
max_num = reduce(lambda x,y: x if x>y else y, my_list)
print(max_num)

5

In [ ]:
#combining strings using reduce function
combined_string = reduce(lambda x,y : x + ', ' + y, my_list1)
print(combined_string)

apple, banana, cherry, kiwi, grape

In [ ]:
sum1 = reduce(lambda x,y : x+y, my_list,10)      #10 is the initializer value
print(sum1)         #10+15

25

In [ ]:
#generator function
#is a special type of iterator that returns iterator, which can be iterated over using a yield keyword
#next function is used to retrieve next value
def test(x,y,z):
    yield x
    yield y
    yield z

gen = test(1,2,3)
print(next(gen))       #1
print(next(gen))       #2
print(next(gen))       #3
#print(next(gen))       #StopIteration error

1
2
3

In [ ]:
def num_gen(n):
    for i in range(n):
        yield i

gen1 = num_gen(7)
print(next(gen1))       #0
print(next(gen1))       #1  
print(next(gen1))       #2
print(next(gen1))       #3
print(next(gen1))       #4
print(next(gen1))       #5  
print(next(gen1))       #6

0
1
2
3
4
5
6

In [ ]:
#infinite generator function
def gen2(n):
    n = 0
    while True:
        yield n
        n += 1

gen2 = gen2(5)
print(next(gen2))       #0
print(next(gen2))       #1

0
1

In [ ]:
def square_gen(n):
    for i in range(n):
        yield i**2

gen3 = square_gen(5)
print(next(gen3))       #0  
print(next(gen3))       #1
print(next(gen3))       #4
print(next(gen3))       #9

0
1
4
9

In [ ]:
def even_gen(n):
    for i in range(n):
        if i % 2 == 0:
            yield i

gen4 = even_gen(10)
print(next(gen4))       #0
print(next(gen4))       #2
print(next(gen4))       #4

0
2
4

In [ ]:
#decorators
#decorator is a function that takes another function as an argument and extends its behavior without modifying it
def decorator(func):
    def wrapper():
        print("Before function call")
        func()
        print("After function call")
    return wrapper

def greet():
    print("Hello, World!")
greet = decorator(greet)
greet()       #Before function call
                #Hello, World!
                #After function call

Before function call
Hello, World!
After function call

In [ ]:
def deco(func):
    def wrapper():
        print("Before function call")
        func()
        print("After function call")
    return wrapper

@deco
def greet():
    print("Hello, World!")
greet()       #Before function call
                #Hello, World!
                #After function call

Before function call
Hello, World!
After function call

In [ ]:
def uppercase_decorator(func):
    def wrapper():
        result = func()
        return result.upper()
    return wrapper

@uppercase_decorator
def greet():
    return "Hello, World!"
greet()      #HELLO, WORLD!

'HELLO, WORLD!'

Exercises

In [ ]:
#find roots of the quadratic equation
#from math import sqrt
def roots(a,b,c):
    d = lambda a,b,c : b*b - 4*a*c 
    if d(a,b,c) <0:
        print("No real roots")

    elif d(a,b,c) == 0:
        r = -b/(2*a)
        print(f"Root is {r} and is real")
        return r
    else:
        r1 = (-b + d(a,b,c) ** 0.5)/2*a     #r1 = (-b + sqrt(d(a,b,c)))/2*a
        r2 = (-b - d(a,b,c) ** 0.5)/2*a
        print(f"Roots are {r1} and {r2} and are real")
        return r1,r2
    return None

a = int(input("Enter a:"))
b = int(input("Enter b:"))
c = int(input("Enter c:"))
p = roots(a,b,c)

Roots are -4.686291501015239 and -27.31370849898476 and are real

In [ ]:
#Get a paragraph from the user,To find(Total character, Without space total characters,total words,total spaces)
''' use input to get sentence from user
    find total length using len function with space
    without space
    find total number of words using a python procedure
    find total number of spaces using a loop and range function
    display result to user
    '''
sentence = input("enter a sentence: ")
Total_char = len(sentence)

spaces = 0
for i in range(0,Total_char):
    if sentence[i] == " ":
        spaces += 1
Total_char_without_space = Total_char - spaces
Total_words = spaces + 1

print(f"Sentence:{sentence}")
print(f"Total characters with space:{Total_char}")
print(f"Total characters without space:{Total_char_without_space}")
print(f"Total numbers of spaces:{spaces}")
print(f"Total number of words:{Total_words}")

#Total vowel characters in a sentence
Total_vowels = 0
for j in range(0,Total_char_without_space):
    if sentence[j].lower() in "aeiou":
        Total_vowels += 1

print(f"Total number of vowels:{Total_vowels}")
print(f"Total number of consonents:{Total_char_without_space - Total_vowels}")

Sentence:i am starving
Total characters with space:13
Total characters without space:11
Total numbers of spaces:2
Total number of words:3
Total number of vowels:4
Total number of consonents:7

In [ ]:
#linear search
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

n = int(input("Enter the number of elements in the array:"))        #n = 4
arr = []
for i in range(n):
    element = int(input("Enter element:"))                          #element = 1,4,7,9
    arr.append(element)

target = int(input("Enter the target element to search:"))          #target = 4
result = linear_search(arr, target)
if result != -1:
    print(f"Element found at index {result}")           #found at index 1
else:
    print("Element not found in the array")

Element found at index 1